
# Garbage
.DS_Store

# Old stuff, better to ignore
/_legacy

# Runtime
/~*

#Don't add Build Files
/build
/app
/bin
*.gch
*.o

#Python package files
*.egg*

#Ignore IDE files
*.idea*

# XCode project, and archives
/xcode_proj
